.nav-breadcrumb {
    background-color: #C2E3EA;
    
    .container {
        .nav { 
            .breadcrumb {
                background: none;
                margin-bottom: 0;
                border: 0;
            }
        }
    }
}

