@use "sass:map";
/* HEADER STYLES */

.l-header {
  // margin: 0 0 map.get($spacers, 3);
  margin: 0;
}

.header-top {
  background: $white;
  border-bottom: 1px solid $border-color;

  &__row {
    flex-wrap: nowrap;
    align-items: center;
    @include media-breakpoint-up(md) {
      flex-wrap: wrap;
    }

  }

  &__container {
    display: contents;
  }

  &__link {
    display: block;
    padding: map.get($spacers, 1);
    color: $gray-700;
    text-decoration: none;
    border-radius: $border-radius;

    @include media-breakpoint-up(sm) {
      padding: map.get($spacers, 2);
    }

    @include hover-focus() {
      color: $black;
      text-decoration: none;
      background: $gray-100;
    }
  }

  &__icon-container {
    position: relative;
  }

  &__icon {
    color: #6B2BC7;
    display: block;
    font-size: rem-calc(24px);
    @include media-breakpoint-up(sm) {
      font-size: rem-calc(24px);
    }

    &__user {
      color: #328189;
    }
  }

  &__badge {
    position: absolute;
    top: -0.5em;
    right: -0.2em;
    width: 2em;
    height: 2em;
    font-size: rem-calc(8px);
    font-weight: 700;
    line-height: 2em;
    color: $white;
    text-align: center;
    background: $primary;
    border-radius: 50%;
  }

  &__block {
    &--search {
      @include media-breakpoint-down(sm) {
        flex-grow: 0;
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
    }

    &--user {
      padding: 0;
    }

    &--cart {
      padding: 0;
    }
  }
}

.header-nav-days {
  background: #F6C544;
  
  .desktop-info {
    display: flex;
    justify-content: space-between;

    &__item {
      color: #222222;
    }
  }
}
